spring:
  application:
    name: "gatewayserver"
  config:
    import: "optional:configserver:http://localhost:8071/" # load the configurations during startup
  cloud:
    gateway:
      httpclient:
        connect-timeout: 1000 # 1s to connect to a microservice
        response-timeout: 5s # 5s to get a response from a microservice
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:7080/realms/master/protocol/openid-connect/certs"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true

info:
  app:
    name: "gatewayserver"
    description: "JoaoBank Gateway Server Application"
    version: "1.0.0"

logging:
  level:
    com:
      joaotinelli:
        gatewayserver: DEBUG

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10 # "please, monitor at least 10 requests before changing from close state to open state"
      permittedNumberOfCallsInHalfOpenState: 2 # "please, allow 2 requests in half-open state"
      failureRateThreshold: 50 # if more than half of requests fail, then move to open state
      waitDurationInOpenState: 10000 # 10s