server:
  port: 9010
spring:
  application:
    name: "message"
  cloud:
    function:
      definition: email|sms
    stream:
      bindings:
        emailsms-in-0:
          destination: send-communication # receives event from queue "send-communication"
          group: ${spring.application.name}
        emailsms-out-0:
          destination: communication-sent # triggers event to exchange "communication-sent"

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s

