apiVersion: apps/v1
kind: Deployment
metadata:
  name: cards-deployment
  labels:
    app: cards
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cards
  template:
    metadata:
      labels:
        app: cards
    spec:
      containers:
        - name: cards
          image: joaotinelli/cards:s13
          ports:
            - containerPort: 9000
          
          # 1. ENVIRONMENT VARIABLES
          env:
            # Critical: This name tells Config Server which file to look for (cards.yml)
            - name: SPRING_APPLICATION_NAME
              value: "cards"
            # Critical: Connects to the specific K8s Service "cardsdb" created
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://cardsdb:3306/cardsdb"
          
          # 2. LOAD GLOBAL CONFIG
          envFrom:
            - configMapRef:
                name: joaobank-configmap
          
          # 3. PROBES
          # Ensures the pod doesn't accept traffic until it's fully booted
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  # This name "cards" allows other services to find it via DNS if needed
  name: cards
spec:
  selector:
    app: cards
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 9000
  # 4. SERVICE TYPE
  # ClusterIP makes this service reachable ONLY from inside the cluster.
  # External traffic must go through the Gateway (which we will build last).
  type: ClusterIP
