apiVersion: apps/v1
kind: Deployment
metadata:
  name: loans-deployment
  labels:
    app: loans
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loans
  template:
    metadata:
      labels:
        app: loans
    spec:
      containers:
        - name: loans
          image: joaotinelli/loans:s13
          ports:
            - containerPort: 8090 
          env:
            - name: SPRING_APPLICATION_NAME
              value: "loans"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://loansdb:3306/loansdb"
          envFrom:
            - configMapRef:
                name: joaobank-configmap
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8090
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8090
            initialDelaySeconds: 20
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: loans
spec:
  selector:
    app: loans
  ports:
    - protocol: TCP
      port: 8090 # <--- Service Port
      targetPort: 8090 # <--- Container Port
  type: ClusterIP
